In [2]:
import pandas as pd

In [3]:
sector = pd.read_csv("../data/sector.csv")

In [4]:
sector['sector'].unique()

array(['Barang Konsumen Primer', 'Kesehatan', 'Keuangan',
       'Barang Konsumen Non-Primer', 'Properti & Real Estat',
       'Perindustrian', 'Energi', 'Barang Baku', 'Infrastruktur',
       'Teknologi', 'Transportasi & Logistik'], dtype=object)

In [5]:
sector_pilihan = ['Kesehatan', 'Energi', 'Teknologi']

In [6]:
sector

                      sector ticker
0     Barang Konsumen Primer   AMRT
1     Barang Konsumen Primer   MLPL
2     Barang Konsumen Primer   MPPA
3     Barang Konsumen Primer   TAPG
4     Barang Konsumen Primer   MIDI
..                       ...    ...
917  Transportasi & Logistik   MIRA
918  Transportasi & Logistik   BLTA
919  Transportasi & Logistik   KLAS
920  Transportasi & Logistik   RCCC
921  Transportasi & Logistik   LOPI

[922 rows x 2 columns]

In [7]:
df = pd.read_csv("../data/temps/alternatives.csv")
df

,Ticker Code,Current Ratio (Quarter),Current Share Outstanding,Debt to Equity Ratio (Quarter),Enterprise Value,EPS Growth Streak,Market Cap,Net Profit Margin (TTM)(%),Current Price to Book Value,Current PE Ratio (TTM),Current Price To Free Cashflow (TTM),Return on Equity (TTM),Sales Growth Streak,Sector,Index
0,ASII,1.33,40.48 B,0.47,"312,442.30 B",4.0,"208,490.30 B",10.69%,1.05,6.16,17.91,17.04%,5.0,Perindustrian,LQ45
1,BYAN,1.42,33.33 B,0.21,"629,628.90 B",8.0,"633,333.36 B",34.58%,21.80,33.12,79.56,65.84%,8.0,Energi,Others
2,DSSA,1.68,770.55 M,0.37,"101,172.43 B",4.0,"94,777.94 B",10.53%,4.81,9.68,4.31,49.72%,6.0,Energi,Others
3,UNTR,1.46,3.73 B,0.24,"95,239.17 B",6.0,"90,175.99 B",16.03%,1.14,4.37,11.47,26.01%,5.0,Perindustrian,IDX30
4,ADRO,2.01,31.99 B,0.21,"67,234.67 B",5.0,"86,362.10 B",25.18%,0.83,3.41,9.90,24.24%,5.0,Energi,LQ45
5,DCII,1.34,2.38 B,0.51,"85,411.41 B",3.0,"84,682.57 B",39.38%,38.37,164.68,199.48,23.30%,4.0,Teknologi,Others

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Ticker Code                           6 non-null      object
 1   Current Ratio (Quarter)               6 non-null      float64
 2   Current Share Outstanding             6 non-null      object
 3   Debt to Equity Ratio (Quarter)        6 non-null      float64
 4   Enterprise Value                      6 non-null      object
 5   EPS Growth Streak                     6 non-null      float64
 6   Market Cap                            6 non-null      object
 7   Net Profit Margin (TTM)(%)            6 non-null      object
 8   Current Price to Book Value           6 non-null      float64
 9   Current PE Ratio (TTM)                6 non-null      float64
 10  Current Price To Free Cashflow (TTM)  6 non-null      float64
 11  Return on Equity (TTM)                6 non-null      object
 12  Sales Growth Streak                   6 non-null      float64
 13  Sector                                6 non-null      object
 14  Index                                 6 non-null      object
dtypes: float64(7), object(8)
memory usage: 848.0+ bytes

In [10]:
df["Current Share Outstanding"].str[:-2]

0     40.48 B
1     33.33 B
2    770.55 M
3      3.73 B
4     31.99 B
5      2.38 B
Name: Current Share Outstanding, dtype: object